form {
  width: 100%;
}

.lyn-selection-list {
  margin-top: 2rem;
  width: 100%;
  h3 {
    margin-bottom: 0;
  }
}

.selection-button {
  margin-left: auto !important;
}

.text-red {
  color: #d84315;
}
