<!-- Field control display outputs through depending on instanceOf a helper class -->
<ng-container *ngIf="fieldControl && !fieldControl.hidden">
  <ng-container [ngSwitch]="fieldType(fieldControl)">
    <!-- Dropdown Form Field -->
    <ng-container *ngSwitchCase="'dropdown'">
      <lyn-dropdown-field
        [ngStyle]="{width: width}"
        [width]="width"
        [fieldStyle]="fieldStyle"
        [formValue]="formValue"
        [toolTipPosition]="toolTipPosition"
        [fieldControl]="fieldControl"
        (valueChanges)="chValueChanges($event)"
      ></lyn-dropdown-field>
    </ng-container>
    <!-- Radio Form Field -->
    <ng-container *ngSwitchCase="'radio'">
      <lyn-radio-field
        [ngStyle]="{width: width}"
        [width]="width"
        [fieldStyle]="fieldStyle"
        [formValue]="formValue"
        [toolTipPosition]="toolTipPosition"
        [fieldControl]="fieldControl"
        (valueChanges)="chValueChanges($event)"
      ></lyn-radio-field>
    </ng-container>
    <!-- Custom File Field -->
    <ng-container *ngSwitchCase="fieldControlEnums.File">
      <lyn-file-control
        [ngStyle]="{width: width}"
        [attr.data-cy]="fieldControl.dataCy"
        class="w-100"
        [fieldControl]="fieldControl"
        [formValue]="formValue"
        (valueChanges)="chValueChanges($event)"
      ></lyn-file-control>
    </ng-container>
    <!-- Default Form Field -->
    <ng-container *ngSwitchDefault>
      <lyn-field
        [ngStyle]="{width: width}"
        [width]="width"
        [fieldStyle]="fieldStyle"
        [formValue]="formValue"
        [toolTipPosition]="toolTipPosition"
        [fieldControl]="fieldControl"
        [customDisplayValue]="customDisplayValue"
        (valueChanges)="chValueChanges($event)"
      ></lyn-field>
    </ng-container>
  </ng-container>
</ng-container>
