::ng-deep.mat-mdc-datepicker-close-button {
  display: none !important;
}

.time-range-content {
  display: flex;
  width: 400px;
  font-size: 12px;
  margin: auto;
}

::ng-deep .date-time-range-picker-container .mat-mdc-form-field {
  min-width: 470px;
  width: 100%;
  max-width: 500px;
}

::ng-deep .date-time-range-picker-container .mat-mdc-form-field-infix {
  display: flex;
  flex-direction: row;
  margin: auto;
}

::ng-deep .date-time-range-picker-container .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none;
}

mat-date-range-input {
  display: flex;
}

::ng-deep .mat-datepicker-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  form {
    width: 300px;
  }
}

::ng-deep.mat-datepicker-content  {
  width: 340px;
  margin: auto;
}

::ng-deep.mat-datepicker-content .mat-calendar {
  margin: auto;
  padding-bottom: 2rem;
}

.date-range-actions-wrapper {
  width: 300px;
}
