<!-- Field control display outputs through depending on instanceOf DropdownFieldHelper  -->
<ng-container *ngIf="fieldControl && !fieldControl.hidden">
  <ng-container [ngSwitch]="fieldControl.controlType">
    <!-- Autocomplete Dropdown -->
    <ng-container *ngSwitchCase="dropboxFieldControlEnums.Autocomplete">
      <mat-form-field
        [appearance]="fieldControl.appearance"
        [ngClass]="fieldControl.class"
        [style]="{'width': width}"
        [ngStyle]="fieldStyle"
      >
        <mat-label *ngIf="fieldControl.label">{{ fieldControl.label }}</mat-label>
        <input
          type="text"
          matInput
          lynTrimVal
          [formControl]="formControl[fieldControl.controlName]"
          [required]="fieldControl.required"
          [attr.data-cy]="fieldControl.dataCy"
          [matAutocomplete]="auto"
          (wheel)="'passive'"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="acValueChanges($event)">
          <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option"> {{option.key}} </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ng-container>
    <!-- OptionGroups Dropdown -->
    <ng-container *ngSwitchCase="dropboxFieldControlEnums.DropdownOptionGroups">
      <mat-form-field
        [appearance]="fieldControl.appearance"
        [ngClass]="fieldControl.class"
        [style]="{'width': width}"
        [ngStyle]="fieldStyle"
      >
        <mat-label *ngIf="fieldControl.label">{{ fieldControl.label }}</mat-label>
        <mat-select
          [multiple]="fieldControl.isMultiple"
          [required]="fieldControl.required"
          [formControl]="formControl[fieldControl.controlName]"
          (ngModelChange)="onDropdownOptionGroupChanges(fieldControl.controlName, fieldControl?.options, $event)"
          [attr.data-cy]="fieldControl.dataCy"
        >
          <mat-optgroup *ngFor="let optionGroup of fieldControl.options" [label]="optionGroup.optgroupLabel">
            <ng-container *ngFor="let option of optionGroup.options">
              <mat-option *ngIf="!option.hidden" [value]="option.value" [disabled]="option.disabled">{{ option.key }}</mat-option>
            </ng-container>
          </mat-optgroup>
        </mat-select>
        <mat-hint *ngIf="fieldControl.hint">
          {{fieldControl.hint }}
          <lyn-icon *ngIf="fieldControl.info" class="pointer" [matTooltip]="fieldControl.info" [matTooltipPosition]="'right'"></lyn-icon>
        </mat-hint>
        <mat-error *ngIf="formControl[fieldControl.controlName].touched && formControl[fieldControl.controlName].errors?.required">
          {{fieldControl.errorMessage}}
        </mat-error>
        <mat-error
          *ngIf="formControl[fieldControl.controlName].touched && formControl[fieldControl.controlName].errors?.customInvalidMessage"
        >
          {{ formControl[fieldControl.controlName].errors?.customInvalidMessage.message }}
        </mat-error>
      </mat-form-field>
    </ng-container>
    <!-- Multiple Selection Dropdown -->
    <ng-container *ngSwitchCase="dropboxFieldControlEnums.MultiDropdown">
      <mat-form-field
        [appearance]="fieldControl.appearance"
        [ngClass]="fieldControl.class"
        [style]="{'width': width}"
        [ngStyle]="fieldStyle"
      >
        <mat-select
          [placeholder]=" fieldControl.label"
          [formControl]="formControl[fieldControl.controlName]"
          [required]="fieldControl.required"
          [attr.data-cy]="fieldControl.dataCy"
          multiple
        >
          <mat-select-trigger>
            {{formControl[fieldControl.controlName]?.value ? fieldControl.placeholder : ''}}
            <span
              *ngIf="!formControl[fieldControl.controlName]?.value.includes('null') && formControl[fieldControl.controlName]?.value.length > 0"
              class="additional-selection"
            >
              (<span *ngIf="formControl[fieldControl.controlName]?.value.includes('1'); else allNotSelected"
                >{{formControl[fieldControl.controlName]?.value.length - 1}}</span
              ><ng-template #allNotSelected> {{formControl[fieldControl.controlName]?.value.length}} </ng-template>)
            </span>
          </mat-select-trigger>
          <mat-option [value]="1" (click)="selectAll(ev)" #ev>SelectAll</mat-option>
          <mat-option *ngFor="let option of fieldControl.options" [disabled]="option.disabled" [value]="option.value"
            >{{ option.key }}</mat-option
          >
        </mat-select>
        <mat-hint *ngIf="fieldControl.hint">
          {{fieldControl.hint }}
          <lyn-icon *ngIf="fieldControl.info" class="pointer" [matTooltip]="fieldControl.info" [matTooltipPosition]="'right'"></lyn-icon>
        </mat-hint>
        <mat-error *ngIf="formControl[fieldControl.controlName].touched && formControl[fieldControl.controlName].errors?.required">
          {{fieldControl.errorMessage}}
        </mat-error>
        <mat-error
          *ngIf="formControl[fieldControl.controlName].touched && formControl[fieldControl.controlName].errors?.customInvalidMessage"
        >
          {{ formControl[fieldControl.controlName].errors?.customInvalidMessage.message }}
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field
        [appearance]="fieldControl.appearance"
        [ngClass]="fieldControl.class"
        [style]="{'width': width}"
        [ngStyle]="fieldStyle"
      >
        <mat-label *ngIf="fieldControl.label">{{ fieldControl.label }}</mat-label>
        <mat-select
          [multiple]="fieldControl.isMultiple"
          [formControl]="formControl[fieldControl.controlName]"
          [required]="fieldControl.required"
          [attr.data-cy]="fieldControl.dataCy"
        >
          <mat-select-trigger>
            {{formControl[fieldControl.controlName]?.value ? fieldControl.placeholder : ''}}
            <span
              *ngIf="!formControl[fieldControl.controlName]?.value.includes('null') && formControl[fieldControl.controlName]?.value.length > 0"
              class="additional-selection"
            >
              (<span *ngIf="formControl[fieldControl.controlName]?.value.includes('all'); else allNotSelected"
                >{{formControl[fieldControl.controlName]?.value.length - 1}}</span
              ><ng-template #allNotSelected> {{formControl[fieldControl.controlName]?.value.length}} </ng-template>)
            </span>
          </mat-select-trigger>
          <ng-container *ngIf="fieldControl.isSelectAllOptions">
            <mat-option #allSelected (onSelectionChange)="toggleAllSelection()" [value]="'all'"
              >{{ fieldControl.selectAllDisplay }}</mat-option
            >
          </ng-container>
          <mat-option
            *ngFor="let option of fieldControl.options"
            [value]="option.value"
            [disabled]="option.disabled"
            (onSelectionChange)="otherOptionSelected()"
            >{{ option.key }}</mat-option
          >
        </mat-select>
        <mat-hint *ngIf="fieldControl.hint">
          {{fieldControl.hint }}
          <lyn-icon *ngIf="fieldControl.info" class="pointer" [matTooltip]="fieldControl.info" [matTooltipPosition]="'right'"></lyn-icon>
        </mat-hint>
        <mat-error *ngIf="formControl[fieldControl.controlName].touched && formControl[fieldControl.controlName].errors?.required">
          {{fieldControl.errorMessage}}
        </mat-error>
        <mat-error
          *ngIf="formControl[fieldControl.controlName].touched && formControl[fieldControl.controlName].errors?.customInvalidMessage"
        >
          {{ formControl[fieldControl.controlName].errors?.customInvalidMessage.message }}
        </mat-error>
      </mat-form-field> -->
    </ng-container>
    <!-- Default Dropdown -->
    <ng-container *ngSwitchDefault>
      <mat-form-field
        [appearance]="fieldControl.appearance"
        [ngClass]="fieldControl.class"
        [style]="{'width': width}"
        [ngStyle]="fieldStyle"
      >
        <mat-label *ngIf="fieldControl.label">{{ fieldControl.label }}</mat-label>
        <mat-select
          [formControl]="formControl[fieldControl.controlName]"
          [required]="fieldControl.required"
          [attr.data-cy]="fieldControl.dataCy"
        >
          <ng-container *ngFor="let option of fieldControl.options">
            <ng-container *ngIf="!option.hidden">
              <mat-option [value]="option.value" [disabled]="option.disabled" [attr.data-cy]="option.dataCy">{{ option.key }}</mat-option>
            </ng-container>
          </ng-container>
        </mat-select>
        <mat-hint *ngIf="fieldControl.hint">
          {{fieldControl.hint }}
          <lyn-icon *ngIf="fieldControl.info" class="pointer" [matTooltip]="fieldControl.info" [matTooltipPosition]="'right'"></lyn-icon>
        </mat-hint>
        <mat-error *ngIf="formControl[fieldControl.controlName].touched && formControl[fieldControl.controlName].errors?.required">
          {{fieldControl.errorMessage}}
        </mat-error>
        <mat-error
          *ngIf="formControl[fieldControl.controlName].touched && formControl[fieldControl.controlName].errors?.customInvalidMessage"
        >
          {{ formControl[fieldControl.controlName].errors?.customInvalidMessage.message }}
        </mat-error>
      </mat-form-field>
    </ng-container>
  </ng-container>
</ng-container>
