:host::ng-deep.warning-validation,
.mat-mdc-form-field.mat-mdc-form-field-invalid {
  .mat-input-element {
    color: #0d47a1 !important;
  }
  .mat-mdc-form-field-label {
    color: #0d47a1 !important;
    .mat-mdc-form-field-required-marker {
      color: #0d47a1 !important;
    }
    .mat-error {
      color: #0d47a1 !important;
    }
  }
  .mat-mdc-form-field-ripple {
    background-color: #0d47a1 !important;
  }
}

:host::ng-deep.warning-validation.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-mdc-form-field-outline-thick {
  color: #0d47a1 !important;
  opacity: 0.8 !important;
}

.lyn-form-input-control-wrapper {
  width: 100%;
  font-size: 10pt;
  font-weight: bold;
  .lyn-selection-list {
    width: 100%;
    h3 {
      margin-bottom: 0;
    }
  }
}

:host::ng-deep.mat-mdc-list-item-content {
  width: 100% !important;
}

.cdk-overlay-container,
.cdk-overlay-pane {
  z-index: 9999 !important;
}

:host::ng-deep.mat-checkbox {
  font-weight: 400;
  font-size: 10pt;
}

.mat-checkbox-hint {
  font-weight: 400;
  font-size: 75%;
}

.radio-button-group-wrapper {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  mat-label {
    font-weight: 450 !important;
  }
  ::ng-deep.mat-radio-label-content {
    font-weight: 400;
  }
  mat-radio-button {
    margin: 0 10px;
  }
}

.additional-selection {
  opacity: 0.85;
  font-size: 0.85em;
}

.copy-link-input {
  height: 35px;
  width: 100%;
  background-color: #8080801a;
  border-radius: 5px;
  padding: 5px 5px 10px 5px !important;
  box-sizing: unset !important;
  flex-direction: row !important;

  textarea {
    height: 25px;
    width: 75%;
    resize: none;
    white-space: nowrap;
    border: none;
    background-color: transparent;
    outline: none;
    font: 400 16px/20px Roboto, 'Helvetica Neue', sans-serif;
    margin: 10px 25px 10px 15px !important;
  }

  button {
    height: 40px;
    width: 20%;
    vertical-align: bottom;
    border-radius: 5px;
    color: white;
    letter-spacing: 0.03rem;
    font: 400 14px/20px Roboto, 'Helvetica Neue', sans-serif;
    border: none;
  }
  .green {
    background-color: rgb(39, 196, 82);
  }
}

.load-file-btn {
  max-width: 225px;
  width: 175px;
}
