<form
  class="d-flex flex-row lyn-form-input-control-wrapper"
  *ngIf="form && inputControl"
  [formGroup]="form"
  autocomplete="off"
  ngNativeValidate
  [ngClass]="inputControl.class"
>
  <ng-container *ngIf="!inputControl.hidden">
    <ng-container [ngSwitch]="inputControl.controlType">
      <ng-container *ngSwitchCase="inputTypeEnum.AUTOCOMPLETE">
        <mat-form-field [appearance]="inputAppearance" [ngClass]="inputControl.class" [style]="{'width': width}">
          <mat-label *ngIf="inputControl.label">{{ inputControl.label }}</mat-label>
          <input
            matInput
            [placeholder]="inputControl.placeholder"
            [attr.aria-label]="inputControl.label"
            [formControlName]="inputControl.controlName"
            [required]="inputControl.required"
            [matAutocomplete]="auto"
            [value]=""
            [attr.data-cy]="inputControl.dataCy"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <ng-container *ngFor="let option of filteredOptions$ | async">
              <mat-option *ngIf="isSelected(inputControl.controlName, option)" [value]="option.value" [attr.data-cy]="option.dataCy">
                {{ option.key }}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
          <mat-hint *ngIf="inputControl.hint">
            {{inputControl.hint }}
            <lyn-icon *ngIf="inputControl.info" class="pointer" [matTooltip]="inputControl.info" [matTooltipPosition]="'right'"></lyn-icon>
          </mat-hint>
          <mat-error *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.required">
            {{inputControl.errorMessage}}
          </mat-error>
          <mat-error
            *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.customInvalidMessage"
          >
            {{ formControl[inputControl.controlName].errors?.customInvalidMessage.message }}
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.CHECKBOX">
        <div class="d-flex flex-column">
          <mat-checkbox
            [formControlName]="inputControl.controlName"
            [checked]="inputControl.value"
            [attr.disabled]="inputControl.disabled"
            [required]="inputControl.required"
            [attr.data-cy]="inputControl.dataCy"
            >{{ inputControl.label }}</mat-checkbox
          >
          <mat-hint *ngIf="inputControl.hint" class="mat-checkbox-hint">
            {{inputControl.hint }}
            <lyn-icon *ngIf="inputControl.info" class="pointer" [matTooltip]="inputControl.info" [matTooltipPosition]="'right'"></lyn-icon>
          </mat-hint>
          <mat-error *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.required">
            {{inputControl.errorMessage}}
          </mat-error>
          <mat-error
            *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.customInvalidMessage"
          >
            {{ formControl[inputControl.controlName].errors?.customInvalidMessage.message }}
          </mat-error>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.COPY_LINK">
        <div class="d-flex flex-row copy-link-input">
          <textarea
            lynTrimVal
            [formControlName]="inputControl.controlName"
            [required]="inputControl.required"
            [attr.data-cy]="inputControl.dataCy"
          >
          {{inputControl.value}}</textarea
          >
          <button
            mat-raised-button
            (click)="copyLink($event.target)"
            [ngClass]="{'green': !toggleColor}"
            [attr.data-cy]="'copy-invite-link-btn'"
            color="primary"
          >
            Copy
          </button>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.DROPDOWN_MULTI">
        <mat-form-field [appearance]="inputAppearance" [style]="{'width': width}">
          <mat-label *ngIf="inputControl.label">{{ inputControl.label }}</mat-label>
          <mat-select
            [multiple]="inputControl.multiple"
            [formControlName]="inputControl.controlName"
            [errorStateMatcher]="matcher"
            [required]="inputControl.required"
            [value]="formValue"
            [attr.data-cy]="inputControl.dataCy"
          >
            <mat-select-trigger>
              {{form.get(inputControl.controlName)?.value ? inputControl.placeholder : ''}}
              <span
                *ngIf="!form.get(inputControl.controlName)?.value.includes('null') && form.get(inputControl.controlName)?.value.length > 0"
                class="additional-selection"
              >
                (<span *ngIf="form.get(inputControl.controlName)?.value.includes('all'); else allNotSelected"
                  >{{form.get(inputControl.controlName)?.value.length - 1}}</span
                ><ng-template #allNotSelected> {{form.get(inputControl.controlName)?.value.length}} </ng-template>)
              </span>
            </mat-select-trigger>
            <ng-container *ngIf="inputControl.displaySelectAllOption">
              <mat-option #allSelected (click)="toggleAllSelection()" [value]="'all'">{{ inputControl.selectAllValue }}</mat-option>
            </ng-container>
            <mat-option
              *ngFor="let option of inputControl.options"
              [value]="option.value"
              [disabled]="option.disabled"
              (click)="otherOptionSelected()"
              [attr.data-cy]="option.dataCy"
              >{{ option.key }}</mat-option
            >
          </mat-select>
          <mat-hint *ngIf="inputControl.hint">
            {{inputControl.hint }}
            <lyn-icon *ngIf="inputControl.info" class="pointer" [matTooltip]="inputControl.info" [matTooltipPosition]="'right'"></lyn-icon>
          </mat-hint>
          <mat-error *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.required">
            {{inputControl.errorMessage}}
          </mat-error>
          <mat-error
            *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.customInvalidMessage"
          >
            {{ formControl[inputControl.controlName].errors?.customInvalidMessage.message }}
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.DROPDOWN_DEFAULT">
        <mat-form-field [appearance]="inputAppearance" [style]="{'width': width}" [attr.data-cy]="inputControl.dataCy">
          <mat-label *ngIf="inputControl.label">{{ inputControl.label }}</mat-label>
          <mat-select
            [multiple]="inputControl.multiple"
            [formControlName]="inputControl.controlName"
            [errorStateMatcher]="matcher"
            [required]="inputControl.required"
            [value]="formValue"
          >
            <ng-container *ngFor="let option of inputControl.options">
              <ng-container *ngIf="!option.hidden">
                <ng-container *ngIf="inputControl.isSelected">
                  <mat-option
                    *ngIf="option.value === formValue && !option.hidden"
                    [value]="option.value"
                    [disabled]="option.disabled"
                    [attr.data-cy]="option.dataCy"
                    >{{ option.key }}</mat-option
                  >
                </ng-container>
              </ng-container>
              <mat-option
                *ngIf="isSelectedList(inputControl.controlName, option) && !option.hidden"
                [value]="option.value"
                [disabled]="option.disabled || !isSelectedList(inputControl.controlName, option)"
                [attr.data-cy]="option.dataCy"
                >{{ option.key }}</mat-option
              >
            </ng-container>
          </mat-select>
          <mat-hint *ngIf="inputControl.hint">
            {{inputControl.hint }}
            <lyn-icon *ngIf="inputControl.info" class="pointer" [matTooltip]="inputControl.info" [matTooltipPosition]="'right'"></lyn-icon>
          </mat-hint>
          <mat-error *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.required">
            {{inputControl.errorMessage}}
          </mat-error>
          <mat-error
            *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.customInvalidMessage"
          >
            {{ formControl[inputControl.controlName].errors?.customInvalidMessage.message }}
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.DROPDOWN_OPTION_GROUP">
        <mat-form-field [appearance]="inputAppearance" [style]="{'width': width}">
          <mat-label *ngIf="inputControl.label">{{ inputControl.label }}</mat-label>
          <mat-select
            [multiple]="inputControl.multiple"
            [formControlName]="inputControl.controlName"
            [errorStateMatcher]="matcher"
            [required]="inputControl.required"
            (ngModelChange)="onDropdownOptionGroupChanges(inputControl.controlName, inputControl?.options, $event)"
            [attr.data-cy]="inputControl.dataCy"
          >
            <mat-optgroup *ngFor="let optionGroup of inputControl.options" [label]="optionGroup.optgroupLabel">
              <ng-container *ngFor="let option of optionGroup.options">
                <mat-option *ngIf="!option.hidden" [value]="option.value" [attr.cats]="option.dataCy" [disabled]="option.disabled">
                  {{ option.key }}
                </mat-option>
              </ng-container>
            </mat-optgroup>
          </mat-select>
          <mat-hint *ngIf="inputControl.hint">
            {{inputControl.hint }}
            <lyn-icon *ngIf="inputControl.info" class="pointer" [matTooltip]="inputControl.info" [matTooltipPosition]="'right'"></lyn-icon>
          </mat-hint>
          <mat-error *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.required">
            {{inputControl.errorMessage}}
          </mat-error>
          <mat-error
            *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.customInvalidMessage"
          >
            {{ formControl[inputControl.controlName].errors?.customInvalidMessage.message }}
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.INSIGHT_TEXT">
        <mat-form-field
          [appearance]="inputAppearance"
          [ngClass]="{'warning-validation': formControl[inputControl.controlName].errors?.customHintIcon && !formControl[inputControl.controlName].errors?.customInvalidMessage}"
          [style]="{'width': width}"
        >
          <mat-label *ngIf="inputControl.label">{{ inputControl.label }}</mat-label>
          <span matPrefix *ngIf="inputControl.icon?.type === inputIconTypeEnum.PRE">
            <ng-container *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.required">
              <lyn-icon [iconConfig]="inputControl.icon"></lyn-icon>
            </ng-container>
          </span>
          <input
            matInput
            lynTrimVal
            [errorStateMatcher]="matcher"
            [formControlName]="inputControl.controlName"
            [required]="inputControl.required"
            [attr.data-cy]="inputControl.dataCy"
            [value]="formValue"
          />
          <span matSuffix>
            <ng-container *ngIf="inputControl.icon?.type === inputIconTypeEnum.SUFFIX">
              <ng-container [ngSwitch]="inputControl.icon?.eventType">
                <ng-container *ngSwitchCase="iconEventType.WARNING">
                  <ng-container
                    *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.customHintIcon"
                  >
                    <lyn-icon class="pointer" [iconConfig]="inputControl.icon"></lyn-icon>
                  </ng-container>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <lyn-icon class="pointer" [iconConfig]="inputControl.icon" (click)="onResetFormValue()"></lyn-icon>
                </ng-container>
              </ng-container>
            </ng-container>
          </span>
          <mat-hint *ngIf="inputControl.hint">
            {{inputControl.hint }}
            <lyn-icon *ngIf="inputControl.info" class="pointer" [matTooltip]="inputControl.info" [matTooltipPosition]="'right'"></lyn-icon>
          </mat-hint>
          <mat-error *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.required">
            {{inputControl.errorMessage}}
          </mat-error>
          <mat-error
            *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.customInvalidMessage"
          >
            {{ formControl[inputControl.controlName].errors?.customInvalidMessage.message }}
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.INT">
        <mat-form-field [appearance]="inputAppearance" [style]="{'width': width}">
          <mat-label *ngIf="inputControl.label">{{ inputControl.label }}</mat-label>
          <input
            matInput
            type="number"
            [errorStateMatcher]="matcher"
            [formControlName]="inputControl.controlName"
            [required]="inputControl.required"
            [value]="formValue"
          />
          <mat-hint *ngIf="inputControl.hint">
            {{inputControl.hint }}
            <lyn-icon *ngIf="inputControl.info" class="pointer" [matTooltip]="inputControl.info" [matTooltipPosition]="'right'"></lyn-icon>
          </mat-hint>
          <mat-error *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.required">
            {{inputControl.errorMessage}}
          </mat-error>
          <mat-error
            *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.customInvalidMessage"
          >
            {{ formControl[inputControl.controlName].errors?.customInvalidMessage.message }}
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.PASSWORD">
        <mat-form-field [appearance]="inputAppearance" [style]="{'width': width}">
          <mat-label *ngIf="inputControl.label">{{ inputControl.label }}</mat-label>
          <input
            matInput
            lynTrimVal
            [type]="isHiddenPassword ? 'password' : 'text'"
            autocomplete="on"
            [errorStateMatcher]="matcher"
            [formControlName]="inputControl.controlName"
            [required]="inputControl.required"
            [attr.data-cy]="inputControl.dataCy"
          />
          <mat-icon matSuffix class="pointer" (click)="isHiddenPassword = !isHiddenPassword">
            {{ isHiddenPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <mat-hint *ngIf="inputControl.hint">
            {{inputControl.hint }}
            <lyn-icon *ngIf="inputControl.info" class="pointer" [matTooltip]="inputControl.info" [matTooltipPosition]="'right'"></lyn-icon>
          </mat-hint>
          <mat-error *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.required">
            {{inputControl.errorMessage}}
          </mat-error>
          <mat-error
            *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.customInvalidMessage"
          >
            {{ formControl[inputControl.controlName].errors?.customInvalidMessage.message }}
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.TEXTAREA">
        <mat-form-field [appearance]="inputAppearance" [ngClass]="inputControl.class" [style]="{'width': width}">
          <mat-label *ngIf="inputControl.label">{{ inputControl.label }}</mat-label>
          <textarea
            matInput
            lynTrimVal
            [errorStateMatcher]="matcher"
            [formControlName]="inputControl.controlName"
            [required]="inputControl.required"
            [attr.data-cy]="inputControl.dataCy"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="32"
          >
          ></textarea
          >
          <mat-hint *ngIf="inputControl.hint">
            {{inputControl.hint }}
            <lyn-icon *ngIf="inputControl.info" class="pointer" [matTooltip]="inputControl.info" [matTooltipPosition]="'right'"></lyn-icon>
          </mat-hint>
          <mat-error *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.required">
            {{inputControl.errorMessage}}
          </mat-error>
          <mat-error
            *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.customInvalidMessage"
          >
            {{ formControl[inputControl.controlName].errors?.customInvalidMessage.message }}
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.RADIO_GROUP">
        <section class="radio-button-group-wrapper">
          <mat-label>{{ inputControl.label }}:</mat-label>
          <mat-radio-group
            class="d-flex flex-row justify-content-start"
            [formControlName]="inputControl.controlName"
            [value]="inputControl.value"
            [required]="inputControl.required"
            [attr.disabled]="inputControl.disabled"
          >
            <ng-container *ngFor="let option of inputControl.options">
              <mat-radio-button
                [disabled]="inputControl.disabled"
                [checked]="option.value === formValue"
                [value]="option.value"
                [attr.data-cy]="option.dataCy"
                >{{ option.key }}</mat-radio-button
              >
            </ng-container>
          </mat-radio-group>
        </section>
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.SELECTION_LIST">
        <lyn-selection-list-control
          class="lyn-selection-list"
          [width]="width"
          [formValue]="formValue"
          [inputAppearance]="inputAppearance"
          [inputControl]="inputControl"
          (addItem)="addValueToSelectionList($event)"
          (removeItem)="removeValueToSelectionList($event)"
        ></lyn-selection-list-control>
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.SLIDER">
        <mat-slide-toggle [formControlName]="inputControl.controlName" [checked]="form.get(inputControl.controlName)?.value"
          >{{ inputControl.label }}</mat-slide-toggle
        >
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.FILE">
        <mat-form-field [appearance]="inputAppearance" class="d-flex flex-auto" [style]="{'width': width}">
          <mat-label *ngIf="inputControl.label">{{ inputControl.label }}</mat-label>
          <input
            matInput
            lynTrimVal
            [required]="inputControl.required"
            [disabled]="true"
            [attr.data-cy]="inputControl.dataCy"
            [value]="formControl[inputControl.controlName]?.value['name'] ?? null"
          />
          <mat-hint *ngIf="inputControl.hint">
            {{inputControl.hint }}
            <lyn-icon *ngIf="inputControl.info" class="pointer" [matTooltip]="inputControl.info" [matTooltipPosition]="'right'"></lyn-icon>
          </mat-hint>
          <mat-error *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.required">
            {{inputControl.errorMessage}}
          </mat-error>
          <mat-error
            *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.customInvalidMessage"
          >
            {{ formControl[inputControl.controlName].errors?.customInvalidMessage.message }}
          </mat-error>
        </mat-form-field>
        <div class="d-flex flex-row justify-content-center align-items-center">
          <button
            mat-raised-button
            color="accent"
            class="w-100"
            style="margin-bottom: 17px"
            (click)="file.click()"
            [disabled]="inputControl.disabled"
            [attr.data-cy]="inputControl.dataCy"
            class="load-file-btn"
          >
            <input
              #file
              type="file"
              [attr.data-cy]="inputControl.dataCy"
              hidden="true"
              (change)="fileValue($event)"
              aria-label="Selected Files Upload"
            />
            {{inputControl.buttonText}}
          </button>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="inputTypeEnum.CUSTOM_FILE">
        <lyn-file-input-control
          [attr.data-cy]="inputControl.dataCy"
          class="w-100"
          [fieldControl]="inputControl"
          [formValue]="formValue"
          (valueChanges)="fileFormValueChanges($event)"
        ></lyn-file-input-control>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <mat-form-field [appearance]="inputAppearance" [style]="{'width': width}">
          <mat-label *ngIf="inputControl.label">{{ inputControl.label }}</mat-label>
          <input
            matInput
            lynTrimVal
            [errorStateMatcher]="matcher"
            [formControlName]="inputControl.controlName"
            [required]="inputControl.required"
            [attr.data-cy]="inputControl.dataCy"
            [value]="formValue"
          />
          <mat-hint *ngIf="inputControl.hint">
            {{inputControl.hint }}
            <lyn-icon *ngIf="inputControl.info" class="pointer" [matTooltip]="inputControl.info" [matTooltipPosition]="'right'"></lyn-icon>
          </mat-hint>
          <mat-error *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.required">
            {{inputControl.errorMessage}}
          </mat-error>
          <mat-error
            *ngIf="formControl[inputControl.controlName].touched && formControl[inputControl.controlName].errors?.customInvalidMessage"
          >
            {{ formControl[inputControl.controlName].errors?.customInvalidMessage.message }}
          </mat-error>
        </mat-form-field>
      </ng-container>
    </ng-container>
  </ng-container>
</form>

<!-- Duplicate & Default Elements -->
<ng-template #defaultSelect>
  <mat-option> Select </mat-option>
</ng-template>
