<div
  *ngIf="formControl && fieldControl && configurationId$ | async"
  class="d-flex flex-row justify-content-center align-items-center gap-2 w-100"
>
  <mat-form-field class="d-flex flex-fill" [appearance]="'outline'">
    <mat-label *ngIf="fieldControl.label">{{fieldControl.label}}</mat-label>
    <mat-select
      #fileUpload="matSelect"
      [formControl]="formControl[fieldControl.controlName]"
      [required]="fieldControl.required"
      [attr.data-cy]="fieldControl.dataCy"
      [value]="formValue"
    >
      <ng-container *ngIf="progressInfos$ | async as files">
        <mat-option #opt *ngFor="let file of files" [value]="file.id" [attr.data-cy]="file.name"> {{file.name}} </mat-option>
      </ng-container>
    </mat-select>
    <mat-hint *ngIf="fieldControl.hint">
      {{fieldControl.hint }}
      <lyn-icon *ngIf="fieldControl.info" class="pointer" [matTooltip]="fieldControl.info" [matTooltipPosition]="'right'"></lyn-icon>
    </mat-hint>
    <mat-error *ngIf="formControl[fieldControl.controlName].touched && formControl[fieldControl.controlName].errors?.required">
      {{fieldControl.errorMessage}}
    </mat-error>
    <mat-error *ngIf="formControl[fieldControl.controlName].touched && formControl[fieldControl.controlName].errors?.customInvalidMessage">
      {{ formControl[fieldControl.controlName].errors?.customInvalidMessage.message }}
    </mat-error>
  </mat-form-field>
  <button class="manage-file-btn" mat-raised-button color="primary" [matMenuTriggerFor]="menu" data-cy="manageCertificateBtn">
    Manage
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="modifyFile({type: 'Add', tls: null})">
      <mat-icon>add</mat-icon>
      <span>New</span>
    </button>
    <button
      mat-menu-item
      data-cy="manage-update"
      (click)="modifyFile({type: 'Update', tls: getSelectedFile(formControl[fieldControl.controlName]?.value)})"
      [disabled]="formControl[fieldControl.controlName]?.invalid"
    >
      <mat-icon>arrow_circle_up</mat-icon>
      <span>Update</span>
    </button>
    <button
      mat-menu-item
      data-cy="manage-delete"
      (click)="modifyFile({type: 'Delete', tls: getSelectedFile(formControl[fieldControl.controlName]?.value)})"
      [disabled]="formControl[fieldControl.controlName]?.invalid"
    >
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
</div>
