@use '@angular/material' as mat;
@use 'sass:map';

@mixin dialog-theme($theme) {
  $config: mat-get-color-config($theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);

  .modal-template-title {
    background-color: mat.get-color-from-palette($primary);
  }

  .modal-template-title-button {
    background-color: mat.get-color-from-palette($primary);
  }
}
