$rhapsody-secondary: #f2f2f2;
$rhapsody-dark-secondary: #5F5F5F;

$rhapsody-blue-palette: (
  50: #E4F0FE,
  100: #BAD9FC,
  200: #8DC0FA,
  300: #5FA7F7,
  400: #3C94F6,
  500: #1A81F4,
  600: #1779F3,
  700: #136EF1,
  800: #0F64EF,
  900: #0851EC,
  A100: #FFFFFF,
  A200: #E1E9FF,
  A400: #AEC4FF,
  A700: #95B2FF,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$rhapsody-accent-palette: (
  50: #EEE8FC,
  100: #D5C6F7,
  200: #B9A0F2,
  300: #9D79EC,
  400: #885DE8,
  500: #7340E4,
  600: #6B3AE1,
  700: #6032DD,
  800: #562AD9,
  900: #431CD1,
  A100: #FFFFFF,
  A200: #DCD4FF,
  A400: #B2A1FF,
  A700: #9E87FF,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$rhapsody-warn-palette: (
  50: #EDEDED,
  100: #D1D1D1,
  200: #B3B3B3,
  300: #959595,
  400: #7E7E7E,
  500: #676767,
  600: #5F5F5F,
  700: #545454,
  800: #4A4A4A,
  900: #393939,
  A100: #F49D9D,
  A200: #EF6F6F,
  A400: #FF2C2C,
  A700: #FF1313,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
