@use '@angular/material' as mat;
@import '@angular/material/theming';
@import './pattern-theme';

@include mat.core();

@import './table-theme';
@import './card-theme';
@import './dialog-theme';
@import './sidenav-theme';
@import './feature-theme';
@import './typography';
@import './scrollbar-theme';
@import './accordion-theme';
@import './tab-group-theme';
@import './selection-list-theme';
// create theme (use mat-dark-theme for themes with dark backgrounds)
$fig-default-light-theme: mat-light-theme(
  (
    color: (
      accent: mat.define-palette($rhapsody-blue-palette, 500, 50, 200),
      error: mat.define-palette(mat.$red-palette, A700),
      primary: mat.define-palette($rhapsody-blue-palette, 500, 50, 200),
      warn: mat.define-palette($rhapsody-warn-palette, 500, 50, 200),
    ),
    typography: $custom-typography,
    density: 0,
  )
);

$dark-app-theme: mat-dark-theme(
  (
    color: (
      primary: mat-palette($rhapsody-blue-palette, 500, 50, 200),
      error: mat.define-palette(mat.$red-palette, A700),
      accent: mat.define-palette($rhapsody-blue-palette, 500, 50, 200),
      warn: mat-palette($rhapsody-warn-palette, 500, 50, 200),
    ),
    typography: $custom-typography,
    density: 0,
  )
);

@include mat.core-theme($fig-default-light-theme);
@include angular-material-theme($fig-default-light-theme);


@mixin body-theme($theme) {
  $_background: map-get($theme, background);
  $app-background-color: mat-color($_background, background);

  .mat-drawer-container {
    background-color:  $app-background-color !important;
  }
  body {
    background-color: #1E2122;
  }
  .mat-mdc-form-field-error {
    color: red !important;
  }
  @include typography($theme);
  @include sidenav-theme($theme);
  @include table-theme($theme);
  @include card-theme($theme);
  @include accordion-theme($theme);
  @include tab-group-theme($theme);
  @include dialog-theme($theme);
  @include feature-theme($theme);
}

@include body-theme($fig-default-light-theme);

.dark-theme {
  @include angular-material-color($dark-app-theme);
  @include body-theme($dark-app-theme);

  body {
    color: #f4f4f4 !important;
  }

  .gateways-container {
    background-color: #232323 !important;
  }

 .change-response-status-list-container {
    background-color: rgba(244, 244, 244, 0.05) !important;
  }
  @include accordion-dark-theme($dark-app-theme);
  @include card-dark-theme($dark-app-theme);
  @include table-dark-theme($dark-app-theme);
  @include tab-group-dark-theme($dark-app-theme);
  @include selection-list-dark-theme($dark-app-theme);
}

.mat-app-background {
  $background: map-get($fig-default-light-theme, background);
  background-color: mat.get-color-from-palette($background, background);
}
