.modal-side-drawer-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-drawer-content{
  width: 500px;
  max-width: 500px;
  .mdc-button {
    color: #ffffff;
  }
  .feature-wrapper {
    padding: 1rem;
    max-height: 86vh;
    mat-expansion-panel {
      margin-bottom: 5px;
    }
    .feature-subgroup {
      margin-top: 1rem;
    }
  }
}
