:host::ng-deep #main-table .dyn-table {
  .table-container:has(.no-records) {
    height: calc(50vh - 165px) !important;
    overflow: auto;
  }
}

:host::ng-deep #dual-table-details .dyn-table {
  .table-container {
    height: calc(50vh - 110px) !important;
    overflow: auto;
  }
}

:host::ng-deep .table-height .dyn-table {
  .table-container {
    height: calc(50vh - 168px) !important;
    overflow: auto;
    max-height: calc(50vh - 220px) !important
  }
}


:host::ng-deep .dual-table-height .dyn-table {
  .table-container {
    height: calc(50vh - 168px) !important;
    overflow: auto;
    max-height: calc(50vh - 115px) !important
  }
}

:host::ng-deep #dual-table-details .dyn-table {
  .table-container:has(.no-records) {
    height: calc(50vh - 60px) !important;
    overflow: auto;
  }
}

h1 {
  font-weight: 500;
  font-size: medium;
  display: inherit;
  margin-bottom: 0;
  line-height: 40px;
}
